body, form, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color: #e3e3e3;
    font-size: 1.125em;
    color: white;
    font-weight: 900;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 1% 0;
}

a {
    text-decoration: none;
    color: #3f3f3f;
    opacity: 0.65;
}

a:hover {
    text-decoration: none;
    opacity: 1;
}
/*Settings below imported from type-scale.com for font scaling*/
@media (min-width: 600px) {
    html {
        font-size: 1.125em;
    }

    body {
    font-weight: 400;
    line-height: 1.45;
    }

    p {
        margin-bottom: 1.3em;
    }

    h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
    }

    h1 {
    margin-top: 0;
    font-size: 3.157em;
    }

    h2 {font-size: 2.369em;}

    h3 {font-size: 1.777em;}

    h4 {font-size: 1.333em;}

    small, .font_small {font-size: 0.75em;}
        
}