* {
  margin: 0;
  padding: 0;
}

body, form, html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color: #e3e3e3;
    font-size: 1.125em;
    color: white;
    font-weight: 900;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3mcil6');
  src:  url('../fonts/icomoon.eot?3mcil6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3mcil6') format('truetype'),
    url('../fonts/icomoon.woff?3mcil6') format('woff'),
    url('../fonts/icomoon.svg?3mcil6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-github-square:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-home3:before {
  content: "\e902";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-book:before {
  content: "\e91f";
}
.icon-books:before {
  content: "\e920";
}
.icon-profile:before {
  content: "\e923";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-menu:before {
  content: "\e9bd";
  font-size: 1.25em;
}
.icon-info:before {
  content: "\ea0c";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-github2:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}



h1, h2, h3, h4, h5, h6, p {
    /*margin: 1% 0;*/
}

select {
  opacity: 0.65;
  color: #3f3f3f;
}

a, .tab {
    text-decoration: none;
    opacity: 0.65;
}

a {
    color: #3f3f3f;
}

a:hover, .tab:hover {
    text-decoration: none;
    opacity: 1;
}
/*Settings below imported from type-scale.com for font scaling*/
@media (min-width: 450px) {
    html {
        font-size: 1.125em;
    }

    body {
    font-weight: 400;
    line-height: 1.45;
    }

    p {
        margin-bottom: 1.3em;
    }

    h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
    }

    h1 {
    font-size: 3.157em;
    }

    h2 {
      font-size: 2.369em;
    }

    h3 {font-size: 1.777em;}

    h4 {font-size: 1.333em;}

    small, .font_small {font-size: 0.75em;}
        
}