#site-heading, footer {
    width: 100%;
    position: fixed;
    z-index: 1000;
}

#site-heading header {
    padding: 1vw 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#site-heading nav {
    padding: 20px;
    margin: auto auto;
    width: fit-content;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
}

nav div {
    text-align: center;
    padding: 15px 10px 5px 10px;
    font-size: 6vw;
    margin: 2vw 0;
}

nav p {
    font-size: 4vw;
}

footer {
    bottom: 0;
}

main section {
    z-index: 500;
    margin: 0 1%;
}
