#siteHeading, footer {
    margin: auto;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

span.icon-menu {
    position: absolute;
    left: 87.5%;
    top: 7.5%;
    font-size: 1.5em;
}

#siteHeading h2 {
    display: none;
}

.icon-github {
    position: absolute;
    left: 2.5%;
    top: 20%;
}

.icon-linkedin {
    position: absolute;
    right: 4.5%;
    top: 20%;
}

footer {
    text-align: center;
    bottom: 0;
    left: 0;
}

.content {
    padding-top: 59px;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 32px;

}

@media (min-width: 600px) {

}
