header, footer {
    background-color: #455A64;
    color: #FFFFFF;
}

main section {
    background-color: #CFD8DC;
    color: #757575;
    border: 3px groove #BDBDBD;
}

aside {
    background-color: #607D8B;
    color: #212121;
}

nav {
    background-color: #607D8B;
    color: #757575;
    border: 3px groove #BDBDBD;

}

nav div {
    background-color: #CFD8DC;
    border-radius: 100px;
    border: 3px groove #BDBDBD;
}